.idea
bazel-bin
bazel-out
bazel-testlogs
bazel-v8App
third_party/v8/include/

third_party/v8/win-x64-release
third_party/v8/win-x64-debug
third_party/v8/macos-x64-release
third_party/v8/macos-x64-debug
third_party/v8/macos-arm64-release
third_party/v8/macos-arm64-debug


