.idea
testing
tools
.cipd
.v8_gclient_entries
third_party/llvm-build
# ndroid
v8/out.gn/android-arm-debug/**/*
!v8/out.gn/android-arm-debug/args.gn
v8/out.gn/android-arm-release/**/*
!v8/out.gn/android-arm-release/args.gn
v8/out.gn/android-arm64-debug/**/*
!v8/out.gn/android-arm64-debug/args.gn
v8/out.gn/android-arm64-release/**/*
!v8/out.gn/android-arm64-release/args.gn
v8/out.gn/android-x64-debug/**/*
!v8/out.gn/android-x64-debug/args.gn
v8/out.gn/android-x64-release/**/*
!v8/out.gn/android-x64-release/args.gn
# ios
v8/out.gn/ios-arm64-debug/**/*
!v8/out.gn/ios-arm64-debug/args.gn
v8/out.gn/ios-arm64-release/**/*
!v8/out.gn/ios-arm64-release/args.gn
v8/out.gn/ios-x64-debug/**/*
!v8/out.gn/ios-x64-debug/args.gn
v8/out.gn/ios-x64-release/**/*
!v8/out.gn/ios-x64-release/args.gn
# linux
v8/out.gn/linux-x64-debug/**/*
!v8/out.gn/linux-x64-debug/args.gn
v8/out.gn/linux-x64-release/**/*
!v8/out.gn/linux-x64-release/args.gn
# mac os
v8/out.gn/macos-x64-debug/**/*
!v8/out.gn/macos-x64-debug/args.gn
v8/out.gn/macos-x64-release/**/*
!v8/out.gn/macos-x64-release/args.gn
#windwos
v8/out.gn/windows-x64-debug/**/*
!v8/out.gn/windows-x64-debug/args.gn
v8/out.gn/windows-x64-release/**/*
!v8/out.gn/windows-x64-release/args.gn
